on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

name: Release Workflow

jobs:
  release:
    name: Publish release on Github and PyPI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - uses: Gr1N/setup-poetry@v8

      - name: Build
        run: poetry build

      - name: Create github release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ github.ref_name }}
          name: Release ${{ github.ref_name }}
          prerelease: false
          draft: true
          files: |
            dist/isn_tractor-*.tar.gz
            dist/isn_tractor-*-py3-none-any.whl

      - name: Publish to PyPI
        run: poetry publish -u ${{ secrets.PYPI_USER }} -p ${{ secrets.PYPI_PASSWORD }}
